.black-btn {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.65);
    color: $color-white;
    font-weight: 900;
    font-size: $small-font-size;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}