.gallery {
    position: relative;
    z-index: 10;
    display: block;

    @include respond(phone-small) {
        width: 90%;
        margin: 0 auto;
    }

    @include respond(phone-smaller) {
        display: none;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        @include respond(phone-small) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 1rem;
        }
    }

    &__item {
        cursor: pointer;
        max-width: 70rem;
        max-height: 70rem;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.mfp-figure::after {
    position: relative;
}

img.mfp-img {
    max-width: 75%;
    border-radius: 110px;

    @include respond(phone) {
        border-radius: 0;
    }
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    right: 110px;

    @include respond(phone) {
        right: 60px;
    }
}

.mfp-counter { 
    right: 110px;

    @include respond(phone) {
        right: 60px;
    }
}