html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include respond(tab-mini-land) {
		font-size: 55%;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	color: $color-white;
	position: relative;
	overflow-x: hidden;
}

main {
    background-image: url("../images/taste-bg.jpg");
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.body--lock {
	overflow: hidden;
}

.site-container {
	margin: 0 7rem;

	@include respond(tab-land) {
		margin: 0 10rem;
	}

	@include respond(tab-port) {
		margin: 0 5rem;
	}

	@include respond(phone-small) {
		margin: 0 1rem;
	}
}

.logo {
    width: 100%;
    max-width: 13.3rem;
    height: 100%;
    max-height: 6.6rem;

	@include respond(mini-phone) {
		width: 100px;
	}

	img {

		@include respond(mini-phone) {
			width: 90%;
		}
	}
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

.add-img {
	position: absolute;
	z-index: 5;
}

.popup-container {
	background-color: $color-white;
	padding: 3rem;
	width: 100%;
}