.first {
    background-image: url("../images/first-bg.jpg");
    @include image-set;
    height: 100vh;
    position: relative;

    @include respond(tab-mini-land) {
        height: 80vh;
    }

    &__inner {
        padding: 17rem 0;
        position: relative;
        z-index: 10;

        @include respond(tab-port) {
            padding-top: 25rem;
        }

        @include respond(phone-smaller) {
            text-align: center;
            padding-top: 17rem;
        }

        @include respond(mini-phone) {
            padding-top: 14rem;
            text-align: center;
        }
    }

    &__title {
        max-width: 58rem;

        @include respond(phone-small) {
            max-width: 80%;
            margin: 0 auto;
            margin-top: 4.5rem;
        }

        @include respond(phone-smaller) {
            max-width: 90%;
        }
    }

    &__descr {
        font-size: $default-font-size;
        line-height: 22px;
        max-width: 50rem;
        margin-top: 2.5rem;

        @include respond(phone-small) {
            line-height: 21px;
            margin: 0 auto;
            margin-top: 2.5rem;
            max-width: 80%;
        }

        @include respond(phone-smaller) {
            max-width: 90%;
        }
    }

    &__btn {
        margin-top: 3.5rem;

        @include respond(phone-small) {
            margin: 0 auto;
            margin-top: 3.5rem;
        }
    }

    &__img {
        bottom: -200px;
        left: 0;

        @include respond(tab-port) {
            left: -100px;
        }

        @include respond(phone) {
            left: -180px;
        }

        @include respond(phone-small) {
            left: -10px;
            bottom: -150px;
            width: 14.2rem;
        }

        
    }
}

.taste {
    position: relative;

    &__info {
        max-width: 63rem;
        margin: 0 auto;
        margin-bottom: 6rem;

        @include respond(phone-small) {
            margin-top: 11rem;
        }
    }

    &__inner {
        padding-top: 7rem;
        padding-bottom: 13.7rem;

        @include respond(tab-port) {
            position: relative;
            z-index: 10;
        }

        @include respond(phone-small) {
            padding-bottom: 8rem;
        }
    }

    &__title {
        margin-bottom: 2.5rem;
    }

    &__descr {
        text-align: center;
        font-size: $default-font-size;
        line-height: 22px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10rem;

        @include respond(tab-mini-land) {
            padding: 0; 
            z-index: 10;
            position: relative;
        }

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__item {
        max-width: 28.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(:first-child) {
            margin-top: 5rem;
        }
        
        &-img {
            width: 28.7rem;
            height: 28.7rem;
            position: relative;
            z-index: 10;

            @include respond(tab-port) {
                width: 23rem;
                height: 23rem;
            }

            @include respond(phone) {
                width: 30rem;
                height: 30rem;
            }
        }

        &-add-img {
            top: -65px;
            left: -72px;
        }

        &-descr {
            margin-top: 4rem;
            font-size: $normal-font-size;
            line-height: 25px;
            text-align: center;
            font-weight: 700;

            @include respond(tab-port) {
                font-size: $default-font-size;
            }

            @include respond(phone) {
                font-size: $big-font-size;
                line-height: 3.5rem;
            }

            @include respond(phone-small) {
                font-size: $normal-font-size;
                line-height: 2.4rem;
            }
        }

        &--1 {
            position: relative;
        }
    }

    &__btn {
        margin: 0 auto;
        margin-top: 8rem;

        @include respond(phone-small) {
            display: none;
        }
    }

    &__add-img--1 {
        right: -35px;
        bottom: 11rem;

        @include respond(tab-port) {
            right: -16rem;
        }

        @include respond(phone-small) {
            right: -13rem;
            bottom: 35rem;
        }
    }

    &__add-img--2 {
        left: 0;
        bottom: -200px;

        @include respond(tab-port) {
            left: -150px;
        }

        @include respond(phone) {
            bottom: -100px;
        }

        @include respond(phone-small) {
           display: none;
        }
    }
}

.menu {

    &__slider {

        @include respond(phone-small) {
            display: none;
        }
    }

    &__info {
        max-width: 63rem;
        margin: 0 auto;
        text-align: center;

        @include respond(tab-mini-land) {
            max-width: 49rem;
        }
    }

    &__title {
        margin-bottom: 2.5rem;
    }

    &__descr {
        font-size: $default-font-size;
        line-height: 2.2rem;
        margin-bottom: 6rem;

        @include respond(phone-small) {
            margin: 0 auto;
            margin-bottom: 6rem;
            max-width: 95%;
        }
    }

    &__list {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @include respond(phone-small) {
            display: flex;
        }
    }

    &__item {
        position: relative;
        width: 70%;
        height: 30rem;
        text-align: center;

        @include respond(phone-smaller) {
           width: 95%;
        }

        &:not(:first-child) {
            margin-top: 2rem;

            @include respond(phone-small) {
                margin-top: 1rem;
            }
        }

        &--1 {
            background-image: url("../images/menu/list/1.jpg");
            @include image-set;
        }  

        &--2 {
            background-image: url("../images/menu/list/2.jpg");
            @include image-set;
        }  

        &--3 {
            background-image: url("../images/menu/list/3.jpg");
            @include image-set;
        }  

        &--4 {
            background-image: url("../images/menu/list/4.jpg");
            @include image-set;
        }  

        &--5 {
            background-image: url("../images/menu/list/5.jpg");
            @include image-set;
        }  

        &--6 {
            background-image: url("../images/menu/list/6.jpg");
            @include image-set;
        }  

        &--7 {
            background-image: url("../images/menu/list/7.jpg");
            @include image-set;
        }  

        &-heading {
            margin-top: 9rem;
        }
        
        &-btn {
            top: 70%;
            width: 22rem;
            padding: 2rem 0;

            @include respond(phone-small) {
                width: 23rem;
            }
        }
    }
}

.delivery {
    position: relative;

    &__inner {
        padding: 16rem 0;
    }

    &__info {
        text-align: center;
    }

    &__heading {

        @include respond(phone-small) {
            margin: 0 auto;
            max-width: 90%;
        }
    }

    &__descr {
        font-size: $default-font-size;
        line-height: 22px;
        max-width: 63rem;
        margin: 0 auto;
        margin-top: 2.5rem;
    }

    &__content {
        display: flex;
        margin-top: 6rem;
        justify-content: space-between;
        position: relative;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }

        &-img {
            max-width: 60rem;
            max-height: 46rem;

            @include respond(tab-mini-land) {
                max-width: 50rem;
                max-height: 41rem;
            }

            @include respond(tab-port) {
                margin-top: 10rem;
            }

            @include respond(phone-smaller) {
                width: 35.5rem;
                height: auto;
            }

            @include respond(mini-phone) {
                width: 32rem;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:first-child) {
            margin-top: 5.5rem;
        }

        @include respond(tab-port) {
            justify-content: center;
        }

        @include respond(phone-small) {
            flex-direction: column;
            text-align: center;
        }

        &-img {
            width: 12rem;
            height: 12rem;

            @include respond(tab-mini-land) {
                width: 10rem;
                height: 10rem;
            }
        }

        &-descr {
            font-size: $normal-font-size;
            line-height: 25px;
            font-weight: 700;
            max-width: 38rem;
            margin-left: 3rem;

            @include respond(tab-mini-land) {
                font-size: $default-font-size;
                line-height: 20px;
            }

            @include respond(tab-port) {
                max-width: 30rem;
            }

            @include respond(phone-small) {
                margin-top: 3rem;
                margin-left: 0;
            }
        }
    }

    &__add-img {

        &--1 {
            left: 0;
            top: -8.5rem;

            @include respond(phone) {
                top: -12rem;
            }

            @include respond(phone-small) {
                display: none;
            }
        }

        &--2 {
            bottom: -60%;
            right: -10rem;

            @include respond(tab-port) {
                right: -5rem;
                bottom: 0;
            }

            @include respond(phone) {
                right: -8rem;
            }

            @include respond(phone-small) {
                display: none;
            }
        }
    }

    &__slider {
        display: none;
        padding-bottom: 5rem;

        @include respond(phone-smaller) {
            display: block;
        }

        &-image {
            width: 35.5rem;
            height: auto;
            margin: 0 auto;

            @include respond(mini-phone) {
                width: 32rem;
            }
        }

        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;
        }

        .slick-dots li {
            list-style: none;
            margin: 0 .5rem;
            transition: transform .3s;
        }

        .slick-dots li.slick-active button {
            background-color: $color-teracotta;
            transform: scale(1.1);
            transition: transform .3s;
        }

        .slick-dots button {
            font-size: 0;
            width: 1rem;
            height: 1rem;
            background-color: $color-grey;
            border-radius: 50%;
            border: none;
            cursor: pointer;
        }
    }
}