//IMAGE-SET

@mixin image-set {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(phone-smaller) {
        background-position: left;
    }
}

//MEDIA QUERY MANAGER

/* 
0-375px:        Mini-phone
375-450px:      Phone smaller
450-576px:      Phone small
576-768px:      Phone
768-992px:      Tablet portrait
992-1200px:     Tablet mini landscape
1200-1500px:    Tablet landscape
1500+:          Big desktop

$breakpoint arguments choices:
- mini-phone
- phone-smaller
- phone-small
- phone
- tab-port
- tab-mini-land
- tab-land
- big-desktop
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == mini-phone {
        @media only screen and (max-width:23.43em) { @content }; //375px 
    }
    @if $breakpoint == phone-smaller {
        @media only screen and (max-width:28.125em) { @content }; //450px 
    }
    @if $breakpoint == phone-small {
        @media only screen and (max-width:36em) { @content }; //576px 
    }
    @if $breakpoint == phone {
        @media only screen and (max-width:48em) { @content }; //768px 
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width:62em) { @content }; //992px 
    }
    @if $breakpoint == tab-mini-land {
        @media only screen and (max-width:81.25em) { @content }; //1300px 
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width:93.75em) { @content }; //1500px 
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width:112.5em) { @content }; //1800px
    }
}