//FONT
$tiny-font-size: 1rem;
$little-font-size: 1.2rem;
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$normal-font-size: 1.8rem;
$big-font-size: 2.4rem;
$huge-font-size: 3.5rem;
$burger-menu-size: 5rem;
$burger-menu-phone-size: 4rem;
$burger-menu-mini-phone-size: 3.5rem;
$heading-1-size: 5.5rem;
$heading-1-phone-size: 3.2rem;
$heading-2-size: 4.8rem;
$heading-2-phone-size: 2.8rem;
$heading-3-size: 2.8rem;
$heading-5-size: 1.8rem;
$heading-5-phone-size: 1.4rem;

//COLORS
$color-white: #fff;
$color-black: #111;
$color-grey: #C4C4C4;
$color-teracotta: #B82121;
$color-hover-teracotta: #7e1616;
$color-black-light: rgba(0, 0, 0, .7);

//PADDINGS